---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { HOME } from "config";
const { TEXT, LINKS } = HOME;
---

<Layout title="">
  <Container>
    <main class="h-96">
      <Sectionhead>
        <Fragment slot="title">{TEXT.H1}</Fragment>
        <Fragment slot="desc">{TEXT.DESCRIPTION}</Fragment>
      </Sectionhead>
    </main>
  </Container>
</Layout>
